body {
  background-color: #f2f2f2;
  font-size: 14px;
  line-height: 26px;
  color: #333;
  font-weight: bold;
  font-family: 'PT Sans', 'Arial', sans-serif;
  text-transform: uppercase;
  text-align: center;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}


/* шрифты */

h1 {
  font-size: 21px;
  line-height: 26px;
  color: #000;
  font-weight: bold;
}

h2 {
  font-size: 21px;
  line-height: 21px;
  color: #000;
  font-weight: bold;
}

h3 {
  font-size: 30px;
  line-height: 24px;
  color: #000;
  font-weight: bold;
}

.main-reason-title {
  font-size: 21px;
  line-height: 21px;
  color: #fff;
  font-weight: bold;
}

.main-reason-number {
  font-size: 14px;
  line-height: 26px;
  color: #fff;
  font-weight: bold;
}

.main-reason-explain {
  font-size: 14px;
  line-height: 21px;
  color: #fff;
  font-weight: normal;
  padding-top: 5px;
  padding-left: 47px;
  padding-right: 48px
}


/* index */

.wrapper {
  background-color: #fff;
  box-shadow: 0 0 5px;
  width: 1200px;
  margin: 0 auto;
}

.main-header {
  position: relative;
}

.logo {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -69px;
}

.main-navigation {
  padding: 0 72px;
}

.main-navigation ul {
  margin: 0;
  padding: 0;
}

.main-navigation li {
  float: left;
  list-style: none;
  text-align: left;
  width: 20%;
  padding-top: 13px;
  padding-bottom: 17px;
}

.main-navigation li:nth-child(2n) {
  padding-right: 33px;
  padding-left: 30px;
}

.main-navigation li:nth-child(4) {
  float: right;
  text-align: right;
}

.main-navigation li:nth-child(3) {
  float: right;
  text-align: right;
}

a {
  text-decoration: none;
  color: #000
}

.main-navigation a:hover {
  color: #81b3d2
}

.intro {
  display: block;
  background-image: url(../img/background-photo.jpg);
  min-height: 432px;
  padding-top: 76px;
  margin-bottom: 59px;
}

.intro img {
  display: block;
  margin: 0 auto;
}

.to-the-gorgeus {
  padding-top: 11px;
}

.Sedona {
  padding-top: 52px;
}

.Because-the {
  padding-top: 56px;
}

.intro:after {
  content: "";
  width: 100%;
  height: 57px;
  position: absolute;
  background: url('../img/bg-footer.png') no-repeat;
  margin-left: -600px;
  margin-top: 23px;
}

.explanation-reasons-title {
  padding-top: 13px;
  font-weight: normal;
}

.explanation-reasons {
  padding-top: 6px;
  font-weight: normal;
  line-height: 21px;
}

.preface {
  width: 580px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 52px;
}

.left-column {
  width: 400px;
  float: left;
  background-color: #81b3d2;
  padding-top: 32px;
  padding-bottom: 39px;
}

.reason-image {
  height: 256px;
  margin: 0;
  padding: 0;
  float: left;
}

.reasons-number {
  display: block;
  padding-top: 3px;
  font-weight: normal;
}

.features {
  width: 300px;
  float: left;
  padding-left: 50px;
  padding-right: 50px;
  margin-bottom: 48px;
}

.features-block .house-image {
  display: block;
  width: 77px;
  height: 77px;
  background-image: url(../img/sprite-sedona.png);
  background-position: -9px -193px;
  margin: 0 auto;
  margin-bottom: 26px;
}

.features-block .foot-image {
  display: block;
  width: 77px;
  height: 77px;
  background-image: url(../img/sprite-sedona.png);
  background-position: -8px -102px;
  margin: 0 auto;
  margin-bottom: 26px;
}

.features-block .souvenirs-image {
  display: block;
  width: 77px;
  height: 77px;
  background-image: url(../img/sprite-sedona.png);
  background-position: -3px -11px;
  margin: 0 auto;
  margin-bottom: 26px;
}

.features-block {
  padding-top: 57px;
  margin-bottom: 21px;
}

.right-column {
  width: 400px;
  float: right;
  background-color: #81b3d2;
  padding-top: 34px;
  padding-bottom: 37px;
}

.reason {
  float: left;
  width: 320px;
  padding-left: 40px;
  padding-right: 40px;
}

.reasons-block {
  padding-top: 30px;
  background-color: #eeeeee;
  padding-bottom: 46px;
  margin-bottom: 56px;
}

.reasons-explain {
  padding-top: 5px;
  line-height: 21px;
  font-weight: normal;
  padding-left: 29px;
  padding-right: 27px;
}

.interested {
  margin: 0 auto;
}

.interested-explain {
  line-height: 24px;
  font-weight: normal;
  width: 500px;
  margin: 0 auto;
  padding-bottom: 46px;
}


/*search hotels*/

.search-hotels input[type="datetime"] {
  width: 346px;
}

.search-hotel {
  position: relative;
  margin: 0 auto;
  width: 568px;
}

.search-form {
  position: absolute;
  background-color: #fff;
  width: 460px;
  padding-left: 54px;
  padding-right: 54px;
  z-index: 5;
}

.arrive-in:after {
  content: "";
  position: absolute;
  width: 77px;
  height: 77px;
  background-image: url(../img/sprite-sedona.png);
  background-position: -3px -11px;
}

.search-title {
  padding: 30px 0;
  background-color: #766357;
}

.search-title a {
  font-size: 21px;
  line-height: 26px;
  color: #fff;
  font-weight: bold;
}

.date-arrive {
  text-align: left;
  padding-top: 54px;
}

.date-departure {
  text-align: left;
  padding-top: 29px;
  padding-bottom: 29px;
}

.date-arrive input {
  margin-left: 21px;
  border: none;
  min-height: 36px;
  background-color: #f2f2f2;
  width: 300px;
  text-transform: uppercase;
  padding-left: 14px;
}

.date-arrive input:hover, .date-departure input:hover {
  background-color: #ebebeb;
}

.date-departure input {
  margin-left: 18px;
  border: none;
  min-height: 36px;
  background-color: #f2f2f2;
  width: 300px;
  padding-left: 12px;
  text-transform: uppercase;
}

.number-adults {
  text-align: left;
  float: left;
  min-height: 38px;
  width: 230px;
  margin-bottom: 53px;
}

.children {
  text-align: left;
  float: right;
  width: 179px;
  min-height: 38px;
  margin-bottom: 53px;
}

.children input, .number-adults input {
  border: none;
  background-color: #f2f2f2;
  min-height: 34px;
  text-align: center;
  padding-bottom: 1px;
  padding-top: 4px;
}

.calendar:after {
  content: "";
  width: 32px;
  height: 38px;
  position: absolute;
  background-image: url(../img/sprite-sedona.png);
  background-position: -9px -279px;
  background-color: #f2f2f2;
}

.calendar::after:hover {
  background-position: -9px -363px;
}

.children button, .number-adults button {
  border: none;
  background-color: #f2f2f2;
  min-height: 35px;
  text-align: center;
  margin-left: -4px;
  margin-right: -4px;
  padding-left: 14px;
  padding-right: 18px;
  padding-bottom: 13px;
  padding-top: 14px;
}

.children button:hover, .number-adults button:hover {
  background-color: #ebebeb;
}

.minus {
  display: block;
  width: 12px;
  height: 12px;
  background-image: url(../img/sprite-sedona.png);
  background-position: -10px -657px;
}

.plus {
  display: block;
  width: 15px;
  height: 12px;
  background-image: url(../img/sprite-sedona.png);
  background-position: -10px -630px;
}

.number-adults-title {
  margin-right: 42px;
}

.children-title {
  margin-right: 25px;
}

.button-search input {
  width: 460px;
  font-size: 21px;
  margin: 0 auto;
  margin-bottom: 55px;
  padding: 15px 0;
  color: #ffffff;
  background-color: #81b3d2;
  border: none
}

.button-search input:hover {
  background-color: #669ec0;
}


/*footer*/

.main-footer {
  position: relative;
  min-height: 128px;
}

.footer-content {
  padding-top: 35px;
  padding-bottom: 36px;
  bottom: 0;
  width: 1200px;
  position: absolute;
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.9);
}

.Hashtag {
  float: left;
  width: 400px;
  text-align: center;
  font-size: 21px;
  margin-top: -11px;
}

.social-ico a {
  display: block;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
}

.social-ico a:hover {
  display: block;
  width: 46px;
  height: 48px;
  background-color: #669ec0;
}

.social-ico li {
  float: left;
  list-style: none;
  margin-left: 3px;
  margin-right: 3px;
}

.social-ico .tw-ico {
  width: 46px;
  height: 48px;
  background-image: url(../img/sprite-sedona.png);
  background-position: 5px -1222px;
}

.social-ico .fb-ico {
  width: 46px;
  height: 48px;
  background-image: url(../img/sprite-sedona.png);
  background-position: 7px -1027px;
}

.social-ico .yt-ico {
  width: 46px;
  height: 48px;
  background-image: url(../img/sprite-sedona.png);
  background-position: 4px -668px;
}

.social-ico {
  float: left;
  width: 400px;
}

.social-ico ul {
  margin: 0;
  padding-left: 121px;
}

.copyright {
  display: inline-block;
  vertical-align: bottom;
  padding-right: 2px;
  min-height: 40px;
}

lable {
  padding-top: 20px;
}

.academy-lable {
  float: right;
  width: 199px;
  padding-top: 1px;
  padding-right: 101px;
}

.html-academy-lable {
  width: 114px;
  height: 43px;
  background-image: url(../img/sprite-sedona.png);
  background-position: -8px -860px;
  display: inline-block;
}

.html-academy-lable:hover {
  background-position: -8px -919px;
}


/* catalog */

.header-result {
  padding-left: 72px;
  padding-right: 73px;
  padding-top: 1px;
  padding-bottom: 16px;
  border-bottom: 1px solid #e5e5e5;
}

.infrastructure {
  float: left;
  width: 256px;
}

.filter {
  display: block;
  min-height: 191px;
  padding-top: 27px;
  background: url('../img/filter-background.png') no-repeat;
  color: #fff;
  text-align: left;
  padding-left: 71px;
  padding-right: 73px;
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
  margin-bottom: 12px;
}

.filter label {
  font-weight: normal;
}

.filter-cost {
  float: right;
  width: 317px;
}

.filter-rage-title {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  margin-left: -9px;
}

.filter-cost-range {
  height: 28px;
  margin-bottom: 20px;
  border: 2px solid #ffffff;
  border-radius: 2px;
  font-size: 0;
  position: relative;
  padding-top: 4px;
}

.filter-cost-range::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 22px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff;
}

.filter-cost-range label {
  display: inline-block;
  font-size: 14px;
  line-height: 21px;
  vertical-align: top;
}

.filter-cost-range .min-price, .filter-cost-range .max-price {
  width: 81px;
  padding-left: 65px;
}

.filter-cost-range input {
  width: 50px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
}

.switch {
  position: relative;
  margin-bottom: 32px;
}

.switch .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.switch .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.switch-range {
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
  position: absolute;
  top: -9px;
}

.switch-range:hover {
  background: #1c4f80;
}

.switch-min {
  left: 0;
}

.switch-max {
  left: 80%;
}

.filter-btn {
  display: block;
  margin: 0 85px;
  padding: 6px 34px;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.filter-btn:hover {
  color: #000000;
  background: #ffffff;
}


/*checkbox*/

.filter-item {
  padding-top: 24px;
}

input[type="checkbox"] {
  display: none;
}

.filter-item label {
  padding-left: 41px;
  position: relative;
  cursor: pointer;
  font-size: 14px;
}

input[type="checkbox"]+label span {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  width: 25px;
  height: 25px;
  margin-left: -30px;
  padding-left: 15px;
  background: url('../img/checkbox.png') left top no-repeat;
  position: absolute;
  margin-left: -42px;
}

input[type="checkbox"]:checked+label span {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  margin-left: -42px;
  background: url('../img/checked.png')left top no-repeat;
  cursor: pointer;
  padding-left: 15px;
}


/*строка сортировки найденого*/

.header-result h2, .sort, .sort-type {
  display: inline-block;
  vertical-align: top;
}

.sort {
  padding-top: 21px;
  padding-left: 44px;
  font-size: 12px;
  font-weight: normal;
  line-height: 18px;
  margin-right: 6px;
  color: #000;
}

.sort-type {
  padding-top: 21px;
  font-size: 12px;
  font-weight: normal;
  line-height: 18px;
}

.sort-type a {
  margin-left: 30px;
  color: #c6c6c6;
  border-bottom: 1px dashed #81b3d2;
}

.sort-type .sort-active {
  color: #81b3d2;
  border-bottom: none;
}

.sort-arrow {
  float: right;
  width: 34px;
  height: 25px;
  padding-top: 22px;
}

.sort-arrow-up {
  display: inline-block;
  vertical-align: top;
  width: 15px;
  height: 15px;
  background-image: url(../img/sprite-sedona.png);
  background-position: -10px -506px;
}

.sort-arrow-up:hover {
  background-position: -10px -566px;
}

.sort-arrow-down {
  display: inline-block;
  vertical-align: top;
  width: 15px;
  height: 15px;
  background-image: url(../img/sprite-sedona.png);
  background-position: -5px -411px;
}

.sort-arrow-down:hover {
  background-position: -5px -537px;
}

.type-house {
  float: left;
}

.photo-hotel {
  float: left;
  padding-right: 30px;
}

.hotel-rating {
  width: 115px;
  font-weight: normal;
  float: right;
}

.rating-stars .star {
  display: inline-block;
  vertical-align: top;
  width: 23px;
  height: 17px;
  background-image: url(../img/star.png);
  background-repeat: no-repeat;
  float: right;
  ;
}

.rating-stars {
  margin-top: -1px;
  margin-bottom: 64px;
}

.rating {
  display: block;
  text-align: center;
  width: 110px;
  height: 27px;
  background-color: #f2f2f2;
}

.result {
  text-align: left;
}

.result-content {
  padding-left: 72px;
  padding-right: 66px;
  padding-top: 30px;
  padding-bottom: 23px;
  border-bottom: 1px solid #e5e5e5;
}

.result-content h2 {
  line-height: 26px;
  margin-top: -6px;
  letter-spacing: 0.2px;
}

.result-content h2:hover {
  color: #81b3d2;
}

.result-left-column {
  width: 900px;
  float: left;
}

.type-apartment {
  display: inline-block;
  vertical-align: top;
  width: 110px;
}

.result-cost {
  display: inline-block;
  vertical-align: top;
  width: 142px;
  padding-left: 3px;
}

.info-house {
  margin-top: -10px;
  padding-bottom: 15px;
  line-height: 21px;
  font-weight: normal;
}

.read-more {
  display: inline-block;
  vertical-align: top;
  width: 110px;
  height: 25px;
  text-align: center;
  background-color: #81b3d2;
  margin-right: 3px;
  padding-top: 2px;
}

.read-more:hover {
  background-color: #669ec0;
}

.additional-menu a {
  color: #fff;
  line-height: 21px;
}

.reserve {
  display: inline-block;
  vertical-align: top;
  padding-top: 2px;
  width: 142px;
  height: 25px;
  text-align: center;
  background-color: #766357;
}

.reserve:hover {
  background-color: #604e43
}
